<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Research Haven</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Research Haven</h1>
<h2>Your research blah blah blah......</h2>
<h3>Login to your account</h3>
<form th:action="@{/search}" th:object="${searchObject}" method="get">
<input type="text" th:field="*{searchString}"/>
</form>
<p th:text = "${researchView.researchName}"></p>
<p th:text = "${researchView.researchFile}"></p>
<p th:text = "${researchView.professorNames}"></p>
<p th:text = "${researchView.studentNames}"></p>

</body>
</html>