<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Research Haven</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1>Research Haven</h1>
<h2>Your research blah blah blah......</h2>
<h3>Login to your account</h3>
<form th:action="@{/search}" th:object="${searchObject}" method="get">
<input type="text" th:field="*{searchString}"/>
</form>
<div th:each = "rL : ${researchList}">
<a th:href="@{'/research/' + ${rL.id}}" th:text="${rL}"></a>
</div>
</body>
</html>